.welcome {
    display: flex;
    justify-content: space-between;
    padding: 15rem;
    font-family: NTR;
    font-size: 28px;
    text-align: left;
    color: #3D3D3D;
    color: rgb(61, 61, 61);
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 30px;
    margin-top: 36rem;
}

.para {
    padding: 1rem;
}

.opening {
    text-align: right;
    font-family: Gloock;
    font-size: 55px;
    padding: 2rem;
    color: #B32E2A;
    color: rgb(179, 46, 42);
    white-space: pre;
    font-weight: 600;

}

img {
    max-width: 100%;
}