/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Define global styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 40px;
    /* Increased margin for more spacing */
}

.navbar a {
    font-family: 'NTR', sans-serif;
    /* Use the NTR font */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 30px;
}

/* Add hover effect to navigation links */
.navbar a:hover {
    color: #02B3E6;
    text-decoration: underline;
    /* Add underlining on hover for better user feedback */
}


/* CSS items pertaining to the footer section of the website. */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.contact h3 {
    font-family : Gloock;
    font-size : 35px;
    color : #02B3E6;
    color : rgb(2, 179, 230);
    padding-bottom: 10px;
}

.contact p {
    font-family : NTR;
  font-size : 25px;
  line-height : 30px;
  color : #3D3D3D;
  color : rgb(61, 61, 61);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

footer {
    background : #EFEFEF;
    background : rgba(239, 239, 239, 1);
}

.copyright {
    display: flex;
    font-family : NTR;
    font-size : 20px;
    color : #848484;
    color : rgb(132, 132, 132);
    justify-content: center;
  }