.opening {
    text-align: right;
    font-family: Gloock;
    font-size: 3.4rem;
    padding: 2rem;
    color: #B32E2A;
    color: rgb(179, 46, 42);
    white-space: pre;
    font-weight: 600;

}



.service {
    display: flex;
    justify-content: space-between;
    padding: 10rem;
    font-family: NTR;
    font-size: 1.7rem;
    text-align: left;
    color: #3D3D3D;
    color: rgb(61, 61, 61);
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.8rem;
    margin-top: 2rem;
}

.para {
    padding: 1rem;
}

.icon-text {
    font-family: Gloock;
    font-size: 3.4rem;
    color: #B32E2A;
    color: rgb(179, 46, 42);
    font-weight: 600;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
}

.s-logo {
    text-align: center;
    flex: 1;
    padding: 1.2px;
}

.s-logo h2 {
    font-size: 2.5rem;
}

.icons1 {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    height: 100vh;
}

.house-img {
    width: 8.1rem;
    height: auto;
}

.hospital-img {
    width: 9.8rem;
    height: auto;
}

.contract-img {
    width: 7.9rem;
    height: auto;
}

@media (max-width: 1200px) {
    .service {
        margin: 2rem; /* Adjust margin for smaller screens */
        font-size: 1.5rem; /* Slightly smaller font size */
        text-align: center; /* Center text for mobile */
        flex-direction: column;
        padding: 1.5rem; /* Reduce padding */
        
    }

    .opening {
        font-size: 3.2rem;
        color: #B32E2A;
        text-align: center;
    }

    .icons {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0rem;
        
    }

    .s-logo {
        padding: 3rem;
    }

    .s-logo h2 {
        font-size: 2rem;
    }


}