.opening {
    text-align: right;
    font-family: Gloock;
    font-size: 55px;
    padding: 2rem;
    color: #B32E2A;
    color: rgb(179, 46, 42);
    white-space: pre;
    font-weight: 600;

}

.service {
    display: flex;
    justify-content: space-between;
    padding: 10rem;
    font-family: NTR;
    font-size: 28px;
    text-align: left;
    color: #3D3D3D;
    color: rgb(61, 61, 61);
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 30px;
    margin-top: 2rem;
}

.para {
    padding: 1rem;
}

.icon-text {
    font-family: Gloock;
    font-size: 55px;
    color: #B32E2A;
    color: rgb(179, 46, 42);
    font-weight: 600;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-logo {
    text-align: center;
    flex: 1;
    padding: 20px;
}

.icons1 {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    height: 100vh;
}

.house-img {
    width: 131px;
    height: auto;
}

.hospital-img {
    width: 157px;
    height: auto;
}

.contract-img {
    width: 127px;
    height: auto;
}